.imagesContainer{
    height: 200px;
    width: 100%;
    overflow-x: scroll; 
    white-space: nowrap;
    overflow-y: hidden;
}
.slide-img{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
}


comments{
    margin: 20px 60px;
}


.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: yellow;}


.test{
    font-size: xx-small;
}
